.lwcAppContainer{
    /* border: 2px solid red; */
    display: grid;
    grid-auto-flow: row;
    margin: 20px;
}
.lwcAppcontent{
    margin-top: 10px 0 10px 0;
    border: 
}

.appSelector{
    /* border: 2px solid blue; */
    margin-bottom: 10px;
}