:host{
    --icon-height: 40px;
    --icon-width: 40px;

    --item-border : 1px solid green;
    --item-margin : 5px;
    --item-padding : 5px;

    --empty-timeline-padding : 5px;
    --empty-timeline-margin : 5px;
    --empty-timeline-bgcolor: #00ccfff5;

    --button-margin: 2px;
    --container--border : 1px solid blue;
    --border-radius : 2px;
    --buttons-bgcolor: rgb(65, 118, 167);
}

*{
    box-sizing: border-box;
    border-radius: 2px; /*var(--border-radius);*/
}

.container{
    display: grid;
    grid-auto-flow: row;
    border: 1px solid blue;/*var(--container--border);*/
}

.container__buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /*background-color: rgba(65, 118, 167, 0.01);/*var(--button-bgcolor);*/
    margin: 4px; /*var(--button-margin);*/
    padding: 2px; /*var(--button-padding);*/
}

.container__buttons > input{
    margin-right: 2px; /* var(--button-margin);*/
    border-radius: 0%;
}

.timeline__empty{
    padding: 5px; /*var(--empty-timeline-padding);*/
    margin: 5px;/*var(--empty-timeline-margin);*/
    background-color: #00ccfff5/*var(--empty-timeline-bgcolor);*/
}

.appname{
    border: 1px solid green;
    font-family: monospace;
    font-weight: bold;
    font-size: xx-large;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: auto;
}
.item{
    display: grid;
    grid-template-columns: 1fr 11fr;
    border: 1px solid green; /*var(--item-border);*/
    margin: 5px; /*var(--item-margin);*/
    padding: 5px; /*var(--item-padding);*/
    background-color: rgba(65, 118, 167, 0.2);
}
.item__icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item__icon > img{
    padding: 10px;
}
.info{
    display: grid;
}

.info > div{
    margin: 2px;
    padding: 2px;
}

.info__title{
    font-weight: bolder;
    color: blue;
}

.info__time{
    font-family: monospace;
    color: teal;
}

.info__type{
    font-weight: lighter;
    color: blue;
}

.info__detail{
    color: black;
}